*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

/* NAVBAR STARTS */

.list{
    list-style: none;
    text-decoration: none;
    position: relative;
}
.navbar{
    position: relative;
}

.li{
    display: inline;
    padding: 20px 50px 20px 50px;
    position: relative;
}
.li a{
    color: #333333;
    text-decoration: none;
    text-align: center;
    position: relative;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
}

a:after{
    content: "";
    position: absolute;
    background-color: #19aff0;
    height: 3px;
    width: 0%;
    right: 0;
    left: 0;
    bottom: -10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
a:hover:after{
    width: 100%;
}

/* NAVBAR ENDS */


/* Color Palette */

.cp-container{
    display: flex;
    position: relative;
    font-size: 30px;
    color: #656565;
    padding-left: 100px;
}
.cp-container:after{
    display: flex;
    content: "";
    position: absolute;
    background-color: #6EAB3B;
    height: 3px;
    width: 15%;
    bottom: -10px;
    border-radius: 20px;
}

.pContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.colors-1{
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    justify-content: space-around;
    color: #333333;
    padding-top: 20px;
}
.colors-2{
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    justify-content: space-around;
    color: #333333;
    padding-top: 20px;
}
.hex-1, .hex-2{
    /* line-height: 40px; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 42px;
    line-height: 53px;
}
.c1{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #81905F;
}

.c2{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #96A96F;
}
.c3{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #DDECBF;
}
.c4{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #7F897D;
}
.c5{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #BBC5A7;
}
.c6{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #6EAB3B;
}
.c7{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #19AFF0;
}
.c8{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #333333;
}

/* Text about color pallete */

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 30px 0px;
    line-height: 35px;
}
.green{
    color: #6EAB3B;
}
.blue{
    color: #19AFF0;
}

/* TYPOGRAPHY */

.typography-container{
    display: flex;
    position: relative;
    font-size: 30px;
    color: #656565;
    padding-left: 100px;
}
.typography-container:after{
    display: flex;
    content: "";
    position: absolute;
    background-color: #6EAB3B;
    height: 3px;
    width: 12%;
    bottom: -10px;
    border-radius: 20px;
}
.montserrat-container{
    display: flex;
    position: relative;
    font-size: 20px;
    color: #656565;
    padding-left: 100px;
    padding-top: 15px;
}
.montserrat-container:after{
    display: flex;
    content: "";
    position: absolute;
    background-color: #19AFF0;
    height: 3px;
    width: 3%;
    bottom: -10px;
    border-radius: 20px;
}
.text-2, .text-3{
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    padding-top: 15px;
}
.headings{
    padding-left: 100px;
    line-height: 70px;
    padding-bottom: 30px;
}

.style{
    color: #19AFF0;
}

/* Paragraphs */

.paragraphs-container{
    display: flex;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #656565;
    padding: 27px 100px 0px 100px;
}
.paragraphs-container:after{
    display: flex;
    content: "";
    position: absolute;
    background-color: #19AFF0;
    height: 3px;
    width: 20%;
    bottom: 390px;
    border-radius: 20px;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.list-1{
    display: block;
    position: relative;
    margin-left: 1401px;
    margin-top: -383px;
}
.list-2{
    display: block;
    position: relative;
    margin-left: 1369px;
    margin-top: -104px;
}
.right{
    padding-top: 10px;
    width: 180px;
    height: auto;
    padding-right: 264px;
}

/* .grid-container{
    display: grid;
    grid-template-columns: 2;
} */