body, html{
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

.logo{
    width: auto;
    height: 150px;
}

.logo-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.a6-container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 500;
    font-size: 36px;
    padding-top: 15px;
    margin-top: 40px;
    padding-bottom: 25px;
}

.setC-container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 45px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 25px;
}

.team-container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 32px;
    padding-top: 15px;
}

.name-container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.names{
    list-style: none;
    position: relative;
}