.fullcolour-container{
    display: flex;
    position: relative;
    justify-content: left;
    top: 150px;
    left: 90px;
}

.FullColour{
    width: auto;
    height: 150px;
}

.greyscale-container{
    display: flex;
    position: relative;
    justify-content: center;
}

.GreyScale{
    width: auto;
    height: 150px;
}

.blackandwhite-container{
    display: flex;
    position: relative;
    justify-content: right;
    bottom: 150px;
    left: 90px;
}

.BlackandWhite{
    width: auto;
    height: 150px;
}