.Logos-container{
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 140px;
    
}

.FullColour, .GreyScale, .BlackandWhite{
    width: auto;
    height: 150px;
}


